@{
    ViewData["Title"] = "Home Page";
}

@*The purpose of this file is to generate the content of the main page of the website. So the pictures, the text, and the headers are all accounted for on this page with some formatting done*@

<div class="text-center">
    <h1 class="display-4">Shadow of the Colossus Rankings</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  
</div>
<body>
    <div>
    <h3 class="font-weight-bold">1: Avion</h3>
    <img src="https://j.gifs.com/L9EXxp.gif" style="float:right; height:500px; width:650px" />
    <p style=" text-align:left">Avion has everything going for him that I like about this game. He's got a really cool area to fight in that's a flooded 
        castle looking place. The path leading to him is very foreboading as you head to the center of this inclosed space with fog all around you. You'll see him there
        as he's sleeping in front of you perched on a pole. Then to get on him is the coolest thing where you have to jump on him as he dives to get 
        you and then once you're on him that fanstastic music begins to play as you have to traverse this big bird mid flight to take him down.</p>
    
    <hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr />

    <img src="https://media.giphy.com/media/3o6EQaAxwqYByiZXIQ/giphy.gif" style="float: left; height: 500px; width: 650px" />
    <h3 class="font-weight-bold" ; style="text-align:right">2: Gaius</h3>
    <p style=" text-align:right">Gaius also has such a cool area to fight in and its this raised platform in the middle of the lake.
        This platform actually helps you take him down becasue you need to get him to smack his sword into a metel plate into the middle of the
        platform. This will break his armor and then to get on him you can climb his sword to get at his weak points. Gaius also has a really cool design 
        where he sort of looks like a robot. The music of course is awesome but he can be a little finiky with getting his A.I. to actually swing his sword at the plate 
        so he's coming on in at number 2. </p>

    <hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr />
    
    <img src="https://66.media.tumblr.com/51c1e92f8b820c455724dca046b31e5e/tumblr_p5lwsgZWPZ1x8ime6o3_500.gif" style="float:right; height:500px; width:650px" />
    <h3 class="font-weight-bold">3: Phalanx</h3>
    <p style=" text-align:left">Phalanx is also such a cool design too and he flies through the air like avion. What makes him different is his sheer size as he's almost 
        the biggest in the game and his sacks that theoretically aid him in flight. This is thought to be true since you have to shoot them with arrows as you ride your horse
        to get him to a low enough altitude to climb. Once he's low enough you can climb his wings and go for the three weakpoints. What I also like about this fight is the amazing music that plays
        when you manage to get on top of him. It's also unique to Phalanx's fight and it's wonderful. However, he gets the thrid spot because sometimes it can be a real challenge hitting the sacks
        and you have to hit all of them three times as Phalanx likes to hide from you underground after he knocks you off two times. This can make the fight a little long so 3 seems appropriate.</p>

    <hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr /><hr />
    </div>
</body>
